/.google_apis
/test-classes
/gwt-unitCache
/war/WEB-INF/appengine-generated
/war/WEB-INF/classes
/war/WEB-INF/deploy
/war/WEB-INF/lib
/war/pagecontent.pages
/war/pagecontent.blog
/war/pagecontent.blogpost
/war/pagecontent.comments
/war/pagecontent.roleaccess
/war/pagecontent.filebrowser
/war/pagecontent.search

/war/polymer
/war/theme.default
/war/pagecontent.transactionlist
/war/pagecontent.transactioninput
/war/page_home
