html body {
    margin: 0px;
}



.transaction-DateTimePicker .gwt-Label {
	display: inline;
}

.transaction-DateTimePicker .gwt-DatePicker {
	position:absolute;
}

.transaction-DateTimePicker .gwt-ToggleButton {
	display: inline-block;
	padding: 5px;
	padding-top: 3px;
	padding-bottom: 3px;
}



.transaction {
    border-bottom: 1px solid #CCC;
}

.transaction .transaction_DetailPanel {
	background-color: #EEE;
	cursor: pointer;
}

.transaction .transaction_DateTime {
	display: table-cell;
	height: 36px;
	width: 150px;
	padding: 5px;
	border-right: 2px solid #EEE;
}

.transaction .transaction_Detail {
	display: table-cell;
	height: 36px;
	padding: 5px;
}

.transaction .highlighted {
    background-color: cyan;
}



.transactionItem {
    border-bottom: 1px solid #CCC;
}

.transactionItem .transactionItem_DateTime {
	display: table-cell;
	height: 36px;
	width: 150px;
	padding: 5px;
	border-right: 2px solid #EEE;
}

.transactionItem .transactionItem_Detail {
	display: table-cell;
	height: 36px;
	padding: 5px;
}



.transactionEdit .transaction-DateTimePicker,
.transactionEdit .gwt-Label {
	display: inline;
}

.transactionEdit .transactionItemList .gwt-Label {
	display: block;
}

