html body {
    margin: 0px;
}


.transaction-list_table {
	width: 100%;
	background-color: #EEE;
	border-collapse: collapse;
}

.transaction-list_table tr td {
	padding: 0px;
}

.transaction_date-time_panel {
	height: 36px;
	padding: 5px;
    border-bottom: 1px solid #CCC;
}

.transaction_detail_panel {
	height: 36px;
	padding: 5px;
	border-bottom: 1px solid #CCC;
    border-left: 2px solid #EEE;
    border-right: 2px solid #EEE;
}

.transaction_buttons_panel {
	height: 36px;
	padding: 5px;
	border-bottom: 1px solid #CCC;
}

.transaction-list_table .highlighted {
    background-color: cyan;
}
