<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd"
         version="2.5"
         xmlns="http://java.sun.com/xml/ns/javaee">

  <!-- Servlets -->
  <servlet>
    <servlet-name>transactionService</servlet-name>
    <servlet-class>tracker.service.transaction.server.TransactionServiceImpl</servlet-class>
  </servlet>
  
  <servlet-mapping>
    <servlet-name>transactionService</servlet-name>
    <url-pattern>/_ah/transaction</url-pattern>
  </servlet-mapping>
  
  <servlet>
    <servlet-name>transactionReportService</servlet-name>
    <servlet-class>tracker.service.transactionreport.server.TransactionReportServiceImpl</servlet-class>
  </servlet>
  
  <servlet-mapping>
    <servlet-name>transactionReportService</servlet-name>
    <url-pattern>/_ah/transactionreport</url-pattern>
  </servlet-mapping>

  <!-- Default page to serve -->
  <welcome-file-list>
    <welcome-file>Home.html</welcome-file>
  </welcome-file-list>

  <!--  Security and Authentication -->
  <security-constraint>
    <web-resource-collection>
      <web-resource-name>admin</web-resource-name>
      <url-pattern>/*</url-pattern>
    </web-resource-collection>
    <auth-constraint>
      <role-name>admin</role-name>
    </auth-constraint>
  </security-constraint>

</web-app>
