<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:schemaLocation="http://java.sun.com/xml/ns/javaee
              http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd"
         version="2.5"
         xmlns="http://java.sun.com/xml/ns/javaee">

  <!-- Filters -->

  <filter>
    <filter-name>RemoteAPIFilter</filter-name>
    <filter-class>tracker.servlet.RemoteAPIFilter</filter-class>
  </filter>
  <filter-mapping>
    <filter-name>RemoteAPIFilter</filter-name>
    <url-pattern>/*</url-pattern>
  </filter-mapping>

  <filter>
    <filter-name>ClaymusFilter</filter-name>
    <filter-class>com.claymus.servlet.ClaymusFilter</filter-class>
  </filter>
  <filter-mapping>
    <filter-name>ClaymusFilter</filter-name>
    <url-pattern>/*</url-pattern>
  </filter-mapping>

  <filter>
    <filter-name>ClaymusGaeFilter</filter-name>
    <filter-class>com.claymus.servlet.ClaymusGaeFilter</filter-class>
  </filter>
  <filter-mapping>
    <filter-name>ClaymusGaeFilter</filter-name>
    <url-pattern>/*</url-pattern>
  </filter-mapping>

  <!-- Handlers for GWT Services -->

  <servlet>
    <servlet-name>TransactionService</servlet-name>
    <servlet-class>tracker.service.server.TrackerServiceImpl</servlet-class>
    <load-on-startup>1</load-on-startup>
  </servlet>
  <servlet-mapping>
    <servlet-name>TransactionService</servlet-name>
    <url-pattern>/service.tracker</url-pattern>
  </servlet-mapping>
  
  <servlet>
    <servlet-name>TransactionReportService</servlet-name>
    <servlet-class>tracker.service.transactionreport.server.TransactionReportServiceImpl</servlet-class>
    <load-on-startup>1</load-on-startup>
  </servlet>
  <servlet-mapping>
    <servlet-name>TransactionReportService</servlet-name>
    <url-pattern>/_ah/transactionreport</url-pattern>
  </servlet-mapping>

  <servlet>
    <servlet-name>ClaymusService</servlet-name>
    <servlet-class>com.claymus.service.server.ClaymusServiceImpl</servlet-class>
    <load-on-startup>1</load-on-startup>
  </servlet>
  <servlet-mapping>
    <servlet-name>ClaymusService</servlet-name>
    <url-pattern>/service.claymus</url-pattern>
  </servlet-mapping>


  <!-- Tracker Service Handler -->
  
  <servlet>
    <servlet-name>TrackerService</servlet-name>
    <servlet-class>tracker.servlet.TrackerService</servlet-class>
    <load-on-startup>1</load-on-startup>
    <init-param>
      <param-name>Prefix</param-name>
      <param-value>/api</param-value>
    </init-param>
  </servlet>
  <servlet-mapping>
    <servlet-name>TrackerService</servlet-name>
    <url-pattern>/api/*</url-pattern>
  </servlet-mapping>


  <!-- Main Tracker Handler -->
  
  <servlet>
    <servlet-name>TrackerMain</servlet-name>
    <servlet-class>tracker.servlet.TrackerMain</servlet-class>
	<load-on-startup>1</load-on-startup>
  </servlet>
  <servlet-mapping>
    <servlet-name>TrackerMain</servlet-name>
    <url-pattern>/*</url-pattern>
  </servlet-mapping>


  <!-- Security Constraints -->
  
  <security-constraint>
    <web-resource-collection>
      <web-resource-name>admin</web-resource-name>
      <url-pattern>/*</url-pattern>
    </web-resource-collection>
    <auth-constraint>
      <role-name>admin</role-name>
    </auth-constraint>
  </security-constraint>

</web-app>